Hello, world! <br>
<br>

<% if current_user %> 
<ul>
  <li><%= current_user.role if current_user.role %></li>
  <li><%= current_user.str_id %></li>
  <li><%= link_to "Log out", api_logout_path, method: "delete" %></li> 
  <% if current_user.submitter? %>
  <li><%= link_to "Submit Main Page", api_submitter_path %></li>
  <% end %>
</ul> 
<% else %> 
<ul>
  <li><%= link_to "Login", api_login_path %></a></li> 
  <li><%= link_to "Signup", api_signup_path %></a></li> 
</ul> 
<% end %>